[submodule "Packages/Git"]
	path = Packages/Git
	url = https://github.com/kemayo/sublime-text-2-git
[submodule "Packages/JsFormat"]
	path = Packages/JsFormat
	url = https://github.com/jdc0589/JsFormat
[submodule "Packages/Theme - Soda"]
	path = Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme
[submodule "Packages/LESS-build"]
	path = Packages/LESS-build
	url = https://github.com/sirlancelot/LESS-build-sublime
