[submodule "Packages/Git"]
	path = Packages/Git
	url = https://github.com/kemayo/sublime-text-2-git
[submodule "Packages/JsFormat"]
	path = Packages/JsFormat
	url = https://github.com/jdc0589/JsFormat
[submodule "Packages/LESS-build"]
	path = Packages/LESS-build
	url = https://github.com/sirlancelot/LESS-build-sublime
[submodule "Packages/ApacheConf"]
	path = Packages/ApacheConf
	url = https://github.com/colinta/ApacheConf.tmLanguage
[submodule "Packages/AutoFileName"]
	path = Packages/AutoFileName
	url = https://github.com/BoundInCode/AutoFileName
[submodule "Packages/Tag"]
	path = Packages/Tag
	url = https://github.com/SublimeText/Tag
[submodule "Packages/Emmet"]
	path = Packages/Emmet
	url = https://github.com/sergeche/emmet-sublime
[submodule "Packages/Theme - Centurion"]
	path = Packages/Theme - Centurion
	url = https://github.com/allanhortle/Centurion
